body{
  background-color: rgb(44, 119, 113);
}

img{
  object-fit: cover;
  left:8px;
  top:8px;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{

}